appflash.sh
biosflash.sh
build/
etrobo2012_ex1.rxe
etrobo2012_ex1_ram.bin
etrobo2012_ex1_ram.elf
etrobo2012_ex1_ram.map
etrobo2012_ex1_rom.bin
etrobo2012_ex1_rom.elf
etrobo2012_ex1_rom.map
etrobo2012_ex1_rxe.elf
etrobo2012_ex1_rxe.map
implementation.oil
kernel_cfg.c
kernel_id.h
ramboot.sh
rxeflash.sh
etrobo2012.asta.lock
etrobo2012.asta.bak
